<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bit.nullnull.mybatis.mapper.MemberMapper">

	
	<select id="selectById" resultType="com.bit.nullnull.member.model.Member">	
		SELECT * FROM MEMBER WHERE Member_id = #{member_id} 		
	</select>	
	
	<select id="selectList" resultType="com.bit.nullnull.member.model.Member">	
		SELECT * FROM MEMBER  		
	</select>


	<insert id="insertMember" parameterType="com.bit.nullnull.member.model.Member">
		insert into Member (member_id, member_name, member_pw ) 
		values ( #{member_id}, #{member_name}, #{member_pw} )	
	</insert>
	
</mapper>



