* {
    margin: 0;
    padding: 0;
    font-size: 100%;   
}
a {
    text-decoration: none;
}
* {
list-style: none;
}
body {
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-family: 'Nanum Myeongjo', serif;
}
h1{
	font-size: 30px;
}
.inform{
	width: 70%;
	margin: 0 auto;
	padding-top: 5%;
}
.idinput{
	width: 200px;
}
.maintitle{
display: inline;
float: left;
}

#member_id{
	margin-top: 5%;
	margin-bottom: 12px;
	width: 250px;
	padding-left: 10px;
}
.sub{
font-family: 'Do Hyeon', sans-serif;
font-size: 15px;
color: #ff8040;
margin-left: 5%;

}
.icon{
padding-left: 30%;
padding-top: 2%;
}